
.body{
    width: 100%;
    height: 100vh;
    background-color: #21204e;
  }
  
  .btnbtn{
    background-color: #ad2424;
    width: 17vw;
    height: 7.02vh;
    border: 0;
  }
  
  .welcomeImg1{
    width: 20vw ;
    height: 19vw;
  }
  
  
  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
  }
  
  .welcomeTitle{
    color: white;
    font-size: 4vw;
  }
  
  
  .inputSearch{
    width: 2vw;
    border: 0;
    height: 7vh;
  }
  
  
  .frontSearch{
    width: 62vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
  }
  

  .yoyo{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8vh;
  }

  .frontPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btnbtn:hover{
    background-color: #ad2424 ;
    /* box-shadow: 8px 6px 23px -2px black; */
    box-shadow: 8px 6px 20px -1px black;
  
  }
  
  
  .inputSearch:hover{
    box-shadow: 8px 6px 23px -2px black;
  
  }

  .pre{
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .75em;
    font-family: var(--bs-font-monospace);
    /* font-size: 1em; */
    box-sizing: border-box;
    direction: ltr;
    unicode-bidi: bidi-override;
  }
  
  @media only screen and (max-width: 780px) {
  
    .welcomeTitle{
      font-size: 3.8vh;
    }
    .welcomeImg1{
      width: 38vw;
      height: 32vw;
   
    }
    .yoyo{
      height: 65vh;
      margin: 0;
    }
  
    .frontSearch{
      width: 85vw;
      margin-top: 13vh;
    }
  
    .btnbtn{
      width: 17vh;
    }

    .navbar-brand{
      font-size: 4vh;
    }

    .bg-light{
      height: auto;
    }

    .d-flex{
      height: auto;
      width: auto;
      margin-right: 2vw;
    }

    .btn{
      width: 23vh;
    }

    .navbar-expand-lg .navbar-collapse{
      margin-top: 4vh;
    }

    .weatherMainCard{
      flex-direction: column;
    }

    .weatherCard1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .countryName{
      width: auto;
      font-size: 6vh;
    }

    .date{
      font-size: 4vw;
    }

    .line{
      display: none;
    }

    .weatherName{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      height: auto;
      margin-top: 16vw;
    }

    .degree{
      height: auto;
      width: 15vh; 
      font-size: 6vh;
      /* margin-right: 5vh; */
      margin: 0;
    }

    .weatherImage{
      width: 10vh !important;
      height: 10vh !important;
    }

    .weatherTitle{
      font-size: 4vh;
      margin: 4vw 0;
    }

    .weatherDetails{
      width: auto;
      visibility: visible;
      animation: none;
    }

    .weatherType{
      height: auto;
    }

    .wind{
      font-size: 2vh;
      width: -webkit-fill-available;

    }

    .windSpeed{
      font-size: 4vh;

    }

    .windContainer{
      justify-content: center;
    }

    .weatherMainCard{
      animation: none;
      width: 75vw;
    }
  
    pre{
      width: 100%;
      height: auto;
      font-size: 3vh;
      margin-top: 4vh;
      text-align: center;
    }

    .pre{
      font-size: 2.75vh;
      text-align: center;
    }
  
    .welcome{
      flex-direction: column;
    }
  
    .welcomeImg{
      width: 15vh !important;
      height: 20vh !important ;
      margin-right: 2vw;
    }
  
    .frontPage1{
      margin-top: 3vh !important;
    }
  }


  .loading {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../loading.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .convertbtn {
    width: 30%;
    width: auto;
    min-height: 13%;
    height: auto;
    background: #1c1552;
    border: 1px white solid;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: .5s;
    padding: 0px 10px 0px 10px;
    color: white;
  }

  .convertbtn:hover {
    width: 30%;
    width: auto;
    height: 15%;
    height: auto;
    background: #ad2424;
    border: 0px;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: .5s;
    color: white;
  }

  .celsius {
    transition: .5s;
    color: white;
  }

  .fahrenheit {
    transition: .5s;
    color: white;
  }

  .show-it {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-delay: -.1s; */
  }

  .hide-it {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-delay: -.1s; */
  }






  @keyframes fade-in {
    0% {
      /* color: aqua; */
      opacity: 1;
    } 5% {
      /* color: #ad2424; */
      opacity: 0;
    }
    100% {
     /* color: aqua; */
     opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      /* color: aqua; */
      opacity: 1;
    }
    5% {
      /* color: #ad2424; */
      opacity: 0;
    }
    100% {
      /* color: aqua; */
      opacity: 1;
    }
  }